/*
Theme Name: Dara Child Theme: Oost West Praktijk
Theme URI: https://bitbucket.com/somtijds/dara-child;
Description: Templates, styles and functions customised for Oost West Praktijk
Author: Somtijds
Author URI: https://www.somtijds.nl
Version: 1.0
Template: dara
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
This is a starter style.css file for your child theme. For more
information about child themes, visit the following web page:
http://codex.wordpress.org/Child_Themes
*/

/* Add your customizations below this line */


/* HOME */
body {
    background-color: #410C15;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a4ab10' fill-opacity='0.38'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a,
.footer-widget-area a:hover,
.footer-widget-area a:focus,
.footer-widget-area a:active,
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active,
.cat-links a,
.comment-meta a,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
    color: #c43930;
}

.no-sidebar.home.page .site {
    max-width: 880px;
}

.site-branding {
	padding: 1.4rem 4%;
}

.menu-toggle,
.main-navigation,
.site-footer {
    background-color: #410C15;
}

body.page-id-311,
body.page-id-311 .main-navigation,
body.page-id-311 .site-footer,
body.page-id-311 .menu-toggle,
body.parent-pageid-311,
body.parent-pageid-311 .main-navigation,
body.parent-pageid-311 .site-footer,
body.parent-pageid-311 .menu-toggle,
body.page-id-310,
body.page-id-310 .main-navigation,
body.page-id-310 .site-footer,
body.page-id-310 .menu-toggle,
body.parent-pageid-310,
body.parent-pageid-310 .main-navigation,
body.parent-pageid-310 .site-footer,
body.parent-pageid-310 .menu-toggle,
.hero-content-wrapper .cat-links a,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #c43930;
}

body.page-id-35,
body.page-id-35 .main-navigation,
body.page-id-35 .site-footer,
body.page-id-35 .menu-toggle,
body.parent-pageid-35,
body.parent-pageid-35 .main-navigation,
body.parent-pageid-35 .site-footer,
body.parent-pageid-35 .menu-toggle {
    background-color:  #f69a54;
}

body.page-id-42,
body.page-id-42 .main-navigation,
body.page-id-42 .site-footer,
body.page-id-42 .menu-toggle,
body.parent-pageid-42,
body.parent-pageid-42 .main-navigation,
body.parent-pageid-42 .site-footer,
body.parent-pageid-42 .menu-toggle {
    background-color:  #ffc068;
}

body.page-id-42 .main-navigation a,
body.page-id-42 .site-footer a,
body.page-id-42 .site-info a,
body.parent-pageid-42 .main-navigation a,
body.parent-pageid-42 .site-footer a,
body.parent-pageid-42 .site-info a {
    color: #410C15;
}

body:not(.search):not(.single-jetpack-testimonial) .jetpack-testimonial .entry-title a,
body:not(.search):not(.single-jetpack-testimonial) .jetpack-testimonial .entry-title,
.jetpack-testimonial-shortcode .testimonial-entry-title {
    color: #c43930;
}

.site-info a:hover {
    color: inherit;
    opacity: 0.6;
    transition: opacity 0.2s;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#infinite-handle span,
.button {
    background-color: #c43930;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
    border: 1px solid #c43930;
}

.jetpack-social-navigation ul li {
    display: inline-block;
    background: #c43930;
}

.testimonials ul {
    margin: 0;
}

.testimonials li {
    list-style: none;
}

.jetpack-testimonial {
    padding: 2em;
    background: #f5daa5;
}

.testimonials li:first-child .jetpack-testimonial {
    margin-top: 2em;
}

.jetpack-testimonial cite {
    color: #c43930;
    text-transform: uppercase;
    text-align: center;
}

.tablepress.pricing thead th {
    background-color: #f5daa5;
    color: #c43930;
}

.gallery-columns-3 .gallery-item {
    max-width: 50%;
}

.footer-widget-area .widget-title {
    font-family: inherit;
    font-weight: bold;
    text-align: left;
    color: #c43930;
}

.widget-title::before,
.widget-title::after {
    content: '';
}

.front-testimonials {
    clear: both;
}

.intrinsic-container {
	position: relative;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
  }
   
  /* 16x9 Aspect Ratio */
  .intrinsic-container-16x9 {
	padding-bottom: 56.25%;
  }
   
  /* 4x3 Aspect Ratio */
  .intrinsic-container-4x3 {
	padding-bottom: 75%;
  }
   
  .intrinsic-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
  }

@media screen and (min-width: 768px) {

    .main-navigation ul ul {
        background-color: #410C15;
    }

    body.page-id-310 .main-navigation ul ul,
    body.page-id-311 .main-navigation ul ul,
    body.parent-pageid-310 .main-navigation ul ul,
    body.parent-pageid-311 .main-navigation ul ul {
        background-color: #c43930;
    }

    body.page-id-35 .main-navigation ul ul,
    body.parent-pageid-35 .main-navigation ul ul {
        background-color:  #f69a54;
    }

    body.page-id-42 .main-navigation ul ul,
    body.parent-pageid-42 .main-navigation ul ul {
        background-color:  #ffc068;

    }

    .gallery-columns-3 .gallery-item {
        max-width: 25%;
    }

    body.home .front-testimonials .jetpack-testimonial {
        margin-top: 0;
    }


}